<div class="header">
    <h1>{{title}}</h1>
</div>
<div class="body">
    <h2>Pages</h2>
    <ul>
      {{#each newsletters}}
        <li>{{newsletter}}</li>
      {{/each}}
    </ul>
    <h2>PDFs</h2>
    <ul>
      {{#each pdfs}}
        <li>{{pdf}}</li>
      {{/each}}
    </ul>
</div>